<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngIf="products; else loading">
    <div class="title-container">
        <h2 class="title">{{title}}</h2>
        <button (click)="onCreate()" [disabled]="!products" class="add-new-button" mat-stroked-button>
            <div class="add-new-button-content">
                <mat-icon>add_circle</mat-icon>
                <span>Lisää tuote</span>
            </div>
        </button>
    </div>
    
    <app-product-search (productSearch)="onSearch($event)"></app-product-search>
    <app-product-table [products]="products"></app-product-table>
</div>