.title {
    padding-top: 15px;
    padding-left: 15px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-new-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.add-new-button {
    margin-right: 15px;
}