.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 310px;
    margin: auto;
}

.mat-card-title {
    text-align: center;
    padding-bottom: 20px;
}

.content {
    margin-top: 30px;
}

.login-button {
    height: 50px;
    margin-top: 5px;
}

.mat-card {
    padding: 30px;
}