<div class="container">
    <mat-card>
        <mat-toolbar>
            <button class="brand-image" [color]="'primary'" mat-mini-fab>
                <mat-icon>verified_user</mat-icon>
            </button>
            <span class="brand-text-primary">Admin</span>
            <span class="brand-divider-dot">·</span>
            <span class="brand-text-secondary">Kahvikauppa</span>
            <span class="spacer"></span>
            <!--
            <button class="dark-mode-button" (click)="darkModeService.toggleDarkMode()" mat-icon-button
                aria-label="brightness_medium">
                <mat-icon>brightness_medium</mat-icon>
            </button>
            -->
            <button [matMenuTriggerFor]="menu" mat-stroked-button aria-label="logout">
                <mat-icon class="face-icon">face</mat-icon>{{authService.user?.firstName}}
                {{authService.user?.lastName}}
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
                <div (click)="$event.stopPropagation()">
                    <button (click)="darkModeService.toggleDarkMode()" mat-menu-item>
                        <mat-icon class="user-menu-icon">brightness_medium</mat-icon>{{!darkModeService.isDarkMode() ?
                        'Vaalea' : 'Tumma'}} teema
                    </button>
                </div>
                <mat-divider></mat-divider>
                <button (click)="authService.logout()" mat-menu-item>
                    <mat-icon class="user-menu-icon">logout</mat-icon>Kirjaudu ulos
                </button>
            </mat-menu>

        </mat-toolbar>
    </mat-card>
    <mat-card>

        <mat-tab-group mat-align-tabs="center" animationDuration="400ms">
            <mat-tab label="Tilaukset">
                <ng-template matTabContent>
                    <h2>Tilaukset</h2>
                </ng-template>
            </mat-tab>
            <mat-tab label="Tuotteet">
                <ng-template matTabContent>
                    <app-products></app-products>
                </ng-template>
            </mat-tab>
            <mat-tab label="Käyttäjät">
                <ng-template matTabContent>
                    <h2>Käyttäjät</h2>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>