.spacer {
    flex: 1 1 auto;
}

.container {
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-card {
    padding: 0;
}

.mat-toolbar {
    background-color: transparent;
}

.toolbar-card {
    margin-top: 5px;
}

.dark-mode-button {
    margin-right: 5px;
    margin-bottom: 3px;
}

.face-icon {
    margin-right: 10px;
    margin-bottom: 3px;
}

.user-menu-icon {
    margin-bottom: 3px;
}

.brand-image {
    margin-right: 12px;
}

.brand-divider-dot {
    margin-right: 5px;
    margin-left: 5px;
}

.center {
    flex: 1;
}

@media only screen and (max-width: 500px) {
    .brand-text-secondary {
        display: none;
    }

    .brand-divider-dot {
        display: none;
    }
}