<div class="container">
    <mat-card>
        <mat-toolbar>
            <span>Admin - Kahvikauppa</span>
            <span class="spacer"></span>
            <button (click)="darkModeService.toggleDarkMode()" mat-icon-button aria-label="brightness_medium">
                <mat-icon>brightness_medium</mat-icon>
            </button>
            <button (click)="authService.logout()" mat-icon-button aria-label="logout">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
    </mat-card>
    <mat-card>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Tuotteet">
                <div class="content-container">
                    <h2>Tuotteet</h2>
                </div>
            </mat-tab>
            <mat-tab label="Tilaukset">
                <div class="content-container">
                    <h2>Tilaukset</h2>
                </div>
            </mat-tab>
            <mat-tab label="Käyttäjät">
                <div class="content-container">
                    <h2>Käyttäjät</h2>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>