.spacer {
    flex: 1 1 auto;
}

.container {
    max-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}

.content-container {
    padding: 15px;
}

.mat-card {
    padding: 0;
}

.mat-toolbar {
    background-color: transparent;
}