.table {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.title {
    padding-top: 15px;
    padding-left: 15px;
}

.no-data-found-text {
    padding-left: 15px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.total-count-text {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    opacity: 0.75;
}

.add-new-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.add-new-button {
    margin-right: 15px;
}