.container {
    max-width: 400px;
    min-width: 310px;
}

.mat-dialog-title {
    padding-bottom: 10px;
}

.product-item {
    margin: 0;
    padding: 0;
}

.product-list-container {
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .container {
        min-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}