<div class="table-container">
    <table class="table" mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nimi</th>
            <td style="min-width: 120px;" mat-cell *matCellDef="let element">{{element.firstName}} {{element.lastName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Sähköpostiosoite</th>
            <td style="max-width: 120px; min-width: 100px; overflow: hidden; text-overflow: ellipsis; padding-right: 15px;"
                mat-cell *matCellDef="let element">{{element.email}}
            </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Rooli</th>
            <td style="min-width: 90px;" mat-cell *matCellDef="let element">{{userService.formatRole(element.role)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Toiminnot</th>
            <td mat-cell *matCellDef="let element">
                <button (click)="onSelect(element)" [matMenuTriggerFor]="menu" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                {{ errorText ? errorText : !users? 'Ladataan tietoja...' : 'Tietoja ei löytynyt'}}
            </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of users">
</mat-paginator>

<mat-menu #menu="matMenu" xPosition="before">
    <button (click)="onEdit()" mat-menu-item>
        <mat-icon>edit</mat-icon>Muokkaa
    </button>
    <button (click)="onDelete()" mat-menu-item>
        <mat-icon>delete</mat-icon>Poista
    </button>
</mat-menu>